WebLedMatrix.Matrix/Service References/MatrixService/MatrixService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MatrixService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMatrixService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://stacja22/Matrix/WebService/MatrixService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://stacja22/Matrix/WebService/MatrixService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatrixService_RegisterMatrix_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMatrix" />
  </wsdl:message>
  <wsdl:message name="IMatrixService_UnRegisterMatrix_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterMatrix" />
  </wsdl:message>
  <wsdl:message name="IMatrixService_UpdateWebPage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateWebPage" />
  </wsdl:message>
  <wsdl:message name="IMatrixService_UpdateText_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateText" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IMatrixService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterMatrix">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatrixService/RegisterMatrix" message="tns:IMatrixService_RegisterMatrix_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UnRegisterMatrix">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatrixService/UnRegisterMatrix" message="tns:IMatrixService_UnRegisterMatrix_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateWebPage">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatrixService/UpdateWebPage" message="tns:IMatrixService_UpdateWebPage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateText">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatrixService/UpdateText" message="tns:IMatrixService_UpdateText_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMatrixService" type="tns:IMatrixService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMatrixService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterMatrix">
      <soap12:operation soapAction="http://tempuri.org/IMatrixService/RegisterMatrix" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnRegisterMatrix">
      <soap12:operation soapAction="http://tempuri.org/IMatrixService/UnRegisterMatrix" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateWebPage">
      <soap12:operation soapAction="http://tempuri.org/IMatrixService/UpdateWebPage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateText">
      <soap12:operation soapAction="http://tempuri.org/IMatrixService/UpdateText" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatrixService">
    <wsdl:port name="NetTcpBinding_IMatrixService" binding="tns:NetTcpBinding_IMatrixService">
      <soap12:address location="net.tcp://stacja22/Matrix/WebService/MatrixService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://stacja22/Matrix/WebService/MatrixService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>